.navletra {
    .navbar-toggler{
        font-weight: bold;
        border: solid;
    }
    div > div > ul > li > a{
        font-size: 30px;
        font-weight: bold;
        color: #86009E;
    
    }
    .fa-brands{
        font-size: 40px;
    }
}
